/* div {
    margin-left:15%; 
    margin-right: 15%; 
    padding-top: 3px; 
    padding-bottom: 3px;
    background-color: #f8f7f2;
 
}
input {
    border-radius: 8px;
    border-color: #9596bf;
    padding: 3px; 
}

.btn-flat {
    padding-top: 60px;
} */
